* {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

body {
    background-color: #fdfdfd;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

input {
    outline: none;
    font-size: 1.2rem;
    width: 90px;
    border: solid gray;
    border-radius: 10px;
}

button {
    outline: none;
    font-size: 1.2rem;
    border: solid gray;
    border-radius: 10px;
    cursor: pointer;
}

a {
    font-size: 1.2rem;
    color: lime;
    text-decoration: none;
    line-height: 30px;
}
a:hover {
    text-decoration: underline;
}

#group {
    color: lime;
}

.resetBtn {
    cursor: not-allowed;
}

.hD {
    font-size: 1.3rem;
    font-weight: bold;
}

.calc-container {
    width: 900px;
    height: 850px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    background-color: #adadad;
    border: solid #adadad;
    border-radius: 15px;
}

.points-container {
    max-width: 900px;
    max-height: 850px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}

.calc {
    background-color: rgba(255, 0, 0, 25%);
    width: 700px;
    margin: 10px;
}

.list {
    width: 550px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #adadad;
    padding: 5px;
    border: solid #adadad;
    border-radius: 15px;
}

.list table {
    margin: 0 auto;
    width: 100%;
}

.list table tr {
    line-height: 25px;
    font-size: 1.3rem;
    cursor: alias;
}

.list table tr td {
    padding: 10px;
    overflow-x: hidden;
}

.list table tbody tr:nth-child(even) {
    background-color: #adadad;
}

.list table tbody tr:nth-child(odd) {
    background-color: #878787;
}

a.active {
    color: aqua;
}

.lists {
    width: 400px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    background-color: #454545;
    border: solid #454545;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.2rem;
}

.lists table {
    color: white;
    width: 100%;
    font-size: 1.2rem;
}

.lists table tbody tr {
    cursor: pointer;
}

.lists table tbody tr.head{
    cursor: auto;
}

.lists table tbody td, .lists table tbody th {
    padding: 5px;
}

.lists table tbody tr:nth-child(even) {
    background-color: #454545;
}

.lists table tbody tr:nth-child(odd) {
    background-color: #232323;
}